%monserat-4{
    font-family: 'Montserrat';
    font-weight: 400;
}

%monserat-5{
    font-family: 'Montserrat';
    font-weight: 500;
}
%monserat-6{
    font-family: 'Montserrat';
    font-weight: 600;
}
%monserat-7{
    font-family: 'Montserrat';
    font-weight: 700;
}

%italic-6
{font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 600;
}